.header-container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.logo {
  width: 200px;
  height: 100px;
}
.links-container {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: space-between;
  align-items: center;
}
.link-name {
  color: #475569;
  font-size: 25px;
  font-family: roboto;
  font-weight: 600;
}
